<link rel="stylesheet" href="/style.css">

<h1>Start planning <%= eventName %>!</h1>

<a href="/events/userEvents">Back</a>


<script>
    document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendar');

        const urlParams = new URLSearchParams(window.location.search);
        const calendarDuration = parseInt(urlParams.get('calendarDuration'));

        const currentDate = new Date();

        let initialView = 'dayGridMonth'

        if (calendarDuration >=3 && calendarDuration <6) {
            initialView = 'dayGridMonth'
        } else if (calendarDuration >= 6 && calendarDuration < 12) {
            initialView = 'dayGridMonth'
        }

        let calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: initialView,
            height: '100%',


            validRange: {
                start: currentDate,
                end: new Date(currentDate.getFullYear(), currentDate.getMonth() + calendarDuration + 1)
            }
        })
        calendar.render();
    })
    
</script>

<div id="calendar"></div>



