<script defer src="https://cdn.jsdelivr.net/npm/@fullcalendar/core/main.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid/main.js"></script>
<script defer src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction/main.js"></script>
<script defer src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.8/index.global.min.js'></script>
<script>

      document.addEventListener('DOMContentLoaded', function() {
        let calendarEl = document.getElementById('calendar');
        let calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridMonth'
        });
        calendar.render();
      });

</script>
  
    <div id='calendar'></div>
  



