<form action="/login" method="POST">
    Username: <input type="text" name="username" required placeholder="enter a username"><br>
    Password: <input type="password" name="password" required placeholder="enter a password">

    <button type="submit">Log in</button>
</form>