<form action="/signup" method="POST">
    Full Name: <input type="text" name="name" required placeholder="enter full name"> <br>
    Username: <input type="text" name="username" required placeholder="enter a username"> <br>
    Password: <input type="password" name="password" required placeholder="enter a password"> <br>

    <button type="submit">sign up</button>
</form>