<div class="landing-hero">
    <h1>Welcome to Free! </h1>
    <p>Get started by logging in or signing up.</p> 


    <a href="/login">
        <button>Log in!</button>
    </a>

    <a href="/signup">
        <button>Sign up!</button>
    </a>


</div>